.main-view {
  margin-bottom: 40px;

  .header {
    font-size: 18px;
  }

  .object-label {
    margin: 30px 5px;
  }
  select {
    font-size: 16px;
  }

  .columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 235px;
    .arrows {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      position: absolute;
      top: 50px;

      .label {
        margin-bottom: 10px;
        text-align: center;
        width: 200px;
      }
      .question-mark {
        font-size: 26px;
      }
      .result {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        .result-label {
          display: flex;
          justify-content: flex-start;
          width: 150px;
        }
        .force-value {
          display: flex;
          justify-content: flex-end;
          width: 65px;
        }
      }
    }

    .buttons {
      text-align: center;
      position: relative;
      bottom: -180px;

      button {
        padding: 6px;
        margin: 5px;
        font-size: 16px;
      }
    }
  }
}
