.main-view {
  .header {
    font-size: 18px;
  }

  select {
    font-size: 16px;
    margin: 30px 5px;
  }

  .columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
  }

  .arrows {
    padding-top: 50px;
    .label {
      margin-bottom: 10px;
    }
  }

  .buttons {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;

    button {
      padding: 6px;
      margin: 5px;
      font-size: 16px;
    }
  }
}

